<h1>Dados do Livros</h1>

<p>Titulo: {{ livro.titulo | uppercase | lowercase| camelCase }}</p>
<p>Ranking: {{ livro.rating | number: '1.1-1' }}</p>
<p>Numeros de Páginas : {{ livro.numerosdepagina | number }}</p>
<p>Preço: {{ livro.preco | currency: 'BRL': true }}</p>
<p>Data de Lançamento: {{ livro.dataLancamento | date: 'dd/MM/yyyy ' }}</p>
<p>Link : {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json  }}</p>

<input type="text" #input>
<button (click)="AddCurso(input.value)">Add Curso</button>
<br>
<br>



<input type="text" [(ngModel)]="filtro">

<h5>Pipe Puro</h5>
<ul>
  <li *ngFor="let lista of listasLivro | filtroArray:filtro">{{ lista }}</li>
</ul>


<h5>Pipe Impuro</h5>
<ul>
  <li *ngFor="let lista of listasLivro | filtroArrayImpuro:filtro">{{ lista }}</li>
</ul>



<h5>A maneira certa de usar filtro em projeto</h5>
<ul>
  <li *ngFor="let lista of obterCursos()">{{ lista }}</li>
</ul>
